preload = ${WALLPAPER_LOCATION}/left.jpg
preload = ${WALLPAPER_LOCATION}/middle.jpg
preload = ${WALLPAPER_LOCATION}/right.jpg

splash = false

# Left monitor
wallpaper {
	monitor = HDMI-A-1
	path = ${WALLPAPER_LOCATION}/left.jpg
	fit_mode = cover
}

# Center monitor
wallpaper {
	monitor = DP-3
	path = ${WALLPAPER_LOCATION}/middle.jpg
	fit_mode = cover
}

# Right monitor
wallpaper {
	monitor = DP-2
	path = ${WALLPAPER_LOCATION}/right.jpg
	fit_mode = cover
}
